[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0"
requests = "*"
airtable-python-wrapper = "*"
certifi = "*"
chardet = "*"
idna = "*"
pytz = "*"
six = "*"
urllib3 = "*"
airtable = "*"

[dev-packages]
